
html {
    background: #777;
    text-align: center;
}

body {
    position: center;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: grey;
    background: #777;
    width: 960px;
    text-align: center;
    font-size: 18px;
}

header {
    background: #ebebeb;
    margin: ;
    padding: 
    border:;
    height: 
}

header h1 {
    font-size: 18px;
}

nav {
    background: #ebebeb;
    margin: ;
    padding: 
    border:;
    height: 
}

nav h1 {
    color: grey;
    font-size: 18px;
}

section {
    background: #ebebeb;
    width: 495px;
    font-size: 18px;
    
}

section h1 {
    color: grey;
    background-color: #ebebeb;
    font-size: 18px;
}

.side1 {
   
}

.side2 {
    
}

article {
   
}

article h1 {
    font-size: 18px;
}

article p {
    background: #ebebeb;
    color: grey;
    font-size: 18px;
    
}

aside {
    background: #ebebeb;
    font-size: 18px;
}

aside h1 {
    color=grey;
    font-size: 18px;
}

footer {
    background: #ebebeb;
}

footer h1 {    color: grey;
    font-size: 18px;
}
